#container
  .header
    .icon
      img(src="images/head.jpg")
    .title 
      a(href="/")= title
    .ldquo &ldquo;
    .quote I don’t believe in originality. You take inspiration from whatever moves you and you find your voice in those things.
    div(align="right")  &mdash; Tim Walker
    .navigator
      ul.tabs
        li
          a(href="/#about")="about me"
        li
          a(href="/#links")="links"
        li
          a(href="mailto:david@roncancio.me")="contact"

  blogger
    .content
      .info
      - each article in articles
        .article
          .created_at= article.created_at.toDateString()
          .title 
            a(href="/blog/"+article._id.toHexString())!= article.title
          .body= article.body
  

  .footer
